.Navbar{
  max-width: 1500px;
  margin: 0 auto;
  background-color: #1F1F26;
  color: #F2BEA0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  justify-content: start;
  align-items: center;
  padding: 20px;
  position: relative;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.Navbar__landing{
  font-size: 1.5em;
  font-weight: 900;
}

.Navbar__menu{
  font-size: 1.5em;
  font-weight: 100;
}

.Navbar__obj{
  margin: 0;
}

.Navbar__obj_register{
  position: absolute;
  right: 0px;
  padding-right: 20px;
}

.Navbar__obj_login{
  position: absolute;
  right: 107.41px;
}

a{
  text-decoration: none;
}

a:visited{
  color: #FFD6D2;
}

button{
  background-color: transparent;
  color: #F2BEA0;
  border: none;
}