.detail__contMenu{
  display: grid;
  max-width: 1000px;
  gap: 30px;
  margin: 1.5% auto;
  text-align: left;
  width: 100%;
  color: #F2BEA0;
  margin-top: 80px;
  margin-bottom: 80px;
}

.menu__title{
  margin: 0;
}

.detail__card{
  display: flex;
  border-radius: 5px;
  width: 100%;
  background-color: #1F1F26;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  position: relative;
}

.card__detail__img{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 450px;
  height: 100%;
}

.card__detail{
  margin: 10px;
  margin-bottom: 20px;
}

.card__detail__item{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.detail__price{
  font-weight: normal;
}

.detail__title{
  font-weight: bold;
}

.item__caract{
  padding-left: 20px;
  padding-top: 10px;
}

.caract{
  padding-left: 5px;
}

.detail__buttons{
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

